@import url('../colors.css');

#Complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8rem;
    padding: 0 1rem;
    font-size: 10px;

    .title{
        margin-top: 2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 2rem;
    }

    .text{
        margin-top: .5rem;
        color: var(--darkgrayishviolet);
    }

    .btn{
        max-width: 400px;
        width: 100%;
        margin-top: 3rem;
        padding: 1rem;
        border-radius: .5rem;
        font-size: 16px;
        text-transform: none;
        color: var(--white);
        background: var(--verydarkviolet);
    }

    @media (min-width: 1045px) {
        margin-top: 0;
    }
}